.selections{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:20px;
    min-height: 100vh;
    

}
button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover{
    background-color: #45a049;
}
